<style>
    
	
	#block1{
        text-align: center;
    }
	#block3{
        text-align: center;
    }
	#block4{
        text-align: center;
    }
	#block5{
        text-align: center;
    }
	#block6{
        text-align: center;
    }
	#block7 {
        text-align: center;
    }
	#block8 {
        text-align: center;
    }
	#block9{
        text-align: center;
    }
	#block10{
        text-align: center;
    }
	#block11{
        text-align: center;
    }
	#block12 {
        text-align: center;
    }
	
    div.price {
        width: 100%;
        margin: 0;
    }

    div.price {
        font-size: 18px;
        display: inline-flex;
        width: calc(100% - 280px);
        margin: 0 140px 15px 140px;
        line-height: 25px;
    }
    .prog-time {
        font-size: 19px;
        margin: 7px 0 15px 0;
        text-align: center;
    }

	thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
	}
	
	
	.main{
		width: 1310px; 
		float: left; 
	}
	.nav{
		width: 570px; 
		float: left;
	}
	 
	.content{
		width: 600px; 
		float: left; 
		margin-left: 40px;
	}


	.wrap {
	  width: 400px;
	}
	.wrap table {
	  table-layout: fixed;
	  width: 100%;
	}
	.wrap table.head {
	  width: calc(100% - 15px);
	}
	.wrap table.head tr td {
	  background: #eee;
	}
	
	
	table {
		border-collapse:collapse;
        width:100%;
	}
	table tr td {
	  border: 1px solid #eee;
	  padding: 5px;
	  word-wrap: break-word;
	  border:1px solid #ccc;
	}
	th, td{
		text-align:left;
		padding:10px;
	}
	tr:hover{
		background-color:#ddd;
		cursor:pointer;
	}
	.scroll-table {
	  height: 500px;
	  overflow-y: auto;
	}
	td{
		width: 150px;
	}
	
</style>




<div class="wrapper page1 key" style="background-image:url('http://localhost/source/Image/background/BG-1920x588-4%5B1%5D.png')">
    <div class="container">
        <div id="block1"></div>
		<div id="block2"></div>
		<div id="block3"></div>
		<div id="block4"></div>
		<div id="block5"></div>
		<div id="block6"></div>
		<div id="block7"></div>
		
		<video width="100%" src="https://images.samsung.com/vn/smartphones/galaxy-s21-ultra-5g/videos/galaxy-s21-ultra-5g_highlights_steady.mp4" controls></video>
		
		<div id="block8"></div> 
		<div id="block9"></div>
		<div id="block10"></div> 
		<div id="block11"></div>
		<div id="block12"></div> 

    </div>
</div>

<div class="container" style="text-align: center">
	<p class="prog-time" style="text-align: center" font-size="35px"><b> TRÊN TAY SIÊU PHẨM GALAXY S12 PLUS 5G | S21 ULTRA 5G </b>  </p>
	<iframe width="660" height="415" src="https://www.youtube.com/embed/82zcDm7Nyn0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="block-quatang"></div>

<div id="block-about"></div>
</br>
<div id="block-product"></div> </br></br>
</br>
<div class="container">
	
</div>	
<div class="container">
	 <div class="main"> <!-- bao phần nội dung chính -->
        <div class="nav">
			<p><b>CÓ <font color="red">90</font> KHÁCH HÀNG ĐÃ ĐẶT MUA</p></br>
			<p> (*) Số lượng có hạn </br></br>
			Danh sách đặt mua chưa bao gồm khách đặt tại cửa hàng</b></p></br>
            
			<table class="head">
				<tbody>
					<tr >
						<td>Tên khách hàng</td>
						<td>Số điện thoại</td>
						<td>Trạng thái</td>
						<td>Thời gian cọc</td>
					</tr>
				</tbody>
			</table>
			<div class="scroll-table">
				<table>
					<tbody>	</tbody>
					<tr>
						<td>Nguyễn Văn Sang</td>
						<td>******2820</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 giờ trước</td>
					</tr>
					<tr>
						<td>Anh Nguyễn Minh</td>
						<td>******1124</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 giờ trước</td>
					</tr>
					<tr>
						<td>Chị Mai Phương</td>
						<td>******9541</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>5 giờ trước</td>
					</tr>
					<tr>
						<td>Nguyễn Văn Giang</td>
						<td>******8845</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Đinh Văn Chiến</td>
						<td>******2452</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Nguyễn Thành An</td>
						<td>******1286</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Trần Văn Bình</td>
						<td>******8252</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Chị Kiều Linh</td>
						<td>******1593</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Nguyễn Văn Giang</td>
						<td>******2583</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Đinh Văn Chiến</td>
						<td>******2368</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
						<td>Nguyễn Thành An</td>
						<td>******0321</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Anh Dũng</td>
						<td>******1198</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Lê Thị Linh</td>
						<td>******2422</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Nguyễn Văn Giang</td>
						<td>******1387</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Đinh Văn Chiến</td>
						<td>******3983</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Chị Mỹ Vân</td>
						<td>******2359</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Anh Trần Bình</td>
						<td>******6105</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Lê Thị Linh</td>
						<td>******3363</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Nguyễn Văn Giang</td>
						<td>******5325</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>3 ngày trước</td>
					</tr>
					<tr>
						<td>Đinh Văn Chiến</td>
						<td>******9331</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>3 ngày trước</td>
					</tr>
					<tr>
						<td>Nguyễn Văn Mão</td>
						<td>******7871</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>3 ngày trước</td>
					</tr>
					<tr>
						<td>Chị Nhi Nguyễn</td>
						<td>******5512</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>4 ngày trước</td>
					</tr>
					<tr>
						<td>Anh Sơn</td>
						<td>******2343</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>4 ngày trước</td>
					</tr>
					<tr>
						<td>Anh Nguyên</td>
						<td>******1287</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>3 ngày trước</td>
					</tr>
					<tr>
						<td>Chị Lê Giang</td>
						<td>******5211</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>4 ngày trước</td>
					</tr>
					<tr>
						<td>Anh Trung</td>
						<td>******9742</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>5 ngày trước</td>
					</tr>

				</table>
			</div>
        </div>
         
        <div class="content" >
		
			<p>
				<b> THÔNG TIN ĐẶT HÀNG </b></br></br>
			</p>
			<p>
				<b>
				1. Nội dung ưu đãi: </br></br>
				Ưu đãi đặt gạch sớm cho khách hàng mua siêu phẩm GALAXY S MỚI tại Minmobile Hải Phòng:</br></br>
				- Giảm ngay 2.000.000đ.</br></br>
				- Thu cũ - đổi mới, lên đời trợ giá 3.000.000đ.</br></br>
				- Thiết bị định vị thông minh Smart Tag.</br></br>
				- Gói bảo hành 1 năm Samsung Care+.</br></br>
				- Trả góp 0% qua công ty tài chính và thẻ tín dụng.</br></br>
				- Phòng chờ hạng thương gia.</br></br>
				- Ưu đãi thêm đến 1 triệu đồng từ Minmobile.</br></br>
				2. Thời gian ưu đãi: </br></br>
				- Áp dụng khi đặt mua sớm sản phẩm Galaxy S Mới. Cọc càng nhiều - Minmobile giảm giá càng sâu
				- Thời gian đặt mua: từ 14/01
				3. Hướng dẫn đặt mua hàng: </br></br>
				- Bước 1: Quý khách đặt hàng sản phẩm qua website hoặc gọi 0979.885.686 để được hỗ trợ đặt hàng.</br></br>
				- Bước 2: Quý khách có thể lựa chọn 1 trong 2 hình thức thanh toán đặt trước: </br></br>
					+ Thanh toán trực tuyến (sử dụng thẻ tín dụng, ATM, chuyển khoản)</br></br>
					+ Thanh toán tại cửa hàng Minmobile 440 Lạch Tray, Ngô Quyền, Hải Phòng</br></br>
				Số tiền đặt cọc: 500.000đ/sản phẩm. Quý khách cọc càng nhiều, Minbmobile giảm giá càng sâu. Có thể hoàn cọc nếu khách đổi ý.</br></br>
				- Bước 3: Ngày mở bán, Minmobile sẽ liên hệ mời Quý khách lựa chọn hình thức nhận hàng Giao hàng tại nhà hoặc Đến cửa hàng để nhận hàng.</br></br>
				</b>
			</p>
			
			
        </div>
    </div> <!-- kết thúc nội dung chính -->
</div>
</br></br>

<div id="block-video"></div>

<div id="block-tintuc"></div>

<div class="fblike container" style="margin-top: 15px"></div>

<div class="fbcomment container"></div>

