<style>
    #block1{
        text-align: center;
    }
	#block2{
        text-align: center;
    }
	#block3{
        text-align: center;
    }
	#block4{
        text-align: center;
    }
	#block5{
        text-align: center;
    }
	#block6{
        text-align: center;
    }
	#block7 {
        text-align: center;
    }
	#block8 {
        text-align: center;
    }
	#block9 {
        text-align: center;
    }
	
	#block10 {
        text-align: center;
    }
	#block11 {
        text-align: center;
    }
	#block12{
        text-align: center;
    }
	#block13{
        text-align: center;
    }
	#block14{
        text-align: center;
    }
	#block15{
        text-align: center;
    }
	#block16{
        text-align: center;
    }
	#block17 {
        text-align: center;
    }
	#block18 {
        text-align: center;
    }
	#block19 {
        text-align: center;
    }
	
	#block20 {
        text-align: center;
    }
	#block21 {
        text-align: center;
    }
	#block22{
        text-align: center;
    }
	#block23{
        text-align: center;
    }
	#block24{
        text-align: center;
    }
	#block25{
        text-align: center;
    }
	
    div.price {
        width: 100%;
        margin: 0;
    }

    div.price {
        font-size: 18px;
        display: inline-flex;
        width: calc(100% - 280px);
        margin: 0 140px 15px 140px;
        line-height: 25px;
    }
    .prog-time {
        font-size: 19px;
        margin: 7px 0 15px 0;
        text-align: center;
    }

	thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
	}
	
	
	.main{
		width: 100%; 
		float: left; 
	}
	.nav{
		width: 50%; 
		float: left;
	}
	 
	.content{
		width: 40%; 
		float: left; 
		margin-left: 40px;
	}


	.wrap {
	  width: 40%;
	}
	.wrap table {
	  table-layout: fixed;
	  width: 100%;
	}
	.wrap table.head {
	  width: calc(100% - 15px);
	}
	.wrap table.head tr td {
	  background: #eee;
	}
	
	
	table {
		border-collapse:collapse;
        width:100%;
	}
	table tr td {
	  border: 1px solid #eee;
	  padding: 5px;
	  word-wrap: break-word;
	  border:1px solid #ccc;
	}
	th, td{
		text-align:left;
		padding:10px;
	}
	tr:hover{
		background-color:#ddd;
		cursor:pointer;
	}
	.scroll-table {
	  height: 260px;
	  overflow-y: auto;
	}
	td{
		width: 25%;
	}
	
</style>




<div class="wrapper page1 key" style="background-image:url('http://localhost/source/Image/background/BG-1920x588-4%5B1%5D.png')">
    <div class="container">
        <div id="block1"></div>
		<div id="block2"></div> 
		<div id="block3"></div> 
		<div id="block4"></div> 
		<div id="block5"></div> 
		<div id="block6"></div> 
		<div id="block7"></div> 
		<div id="block8"></div> 
		<div id="block9"></div> 
		<div id="block10"></div> </br>
		<div id="block11"></div> 
		<div id="block12"></div> 
		<div id="block13"></div> 
		<div id="block14"></div> 
		<div id="block15"></div> 
		<div id="block16"></div> 
		<div id="block17"></div> 
		<div id="block18"></div> 
		<div id="block19"></div> 
		<div id="block20"></div> 
		<div id="block21"></div> 
		<div id="block22"></div> 
		<div id="block23"></div> 
		<div id="block24"></div> 
		<div id="block25"></div> 

    </div>
</div>

<!--
<div class="container">
	</br>
	<p class="prog-time" style="text-align: center" font-size="35px"> <b> REVIEW SAMSUNG GALAXY Z FOLD 2 5G HÀN QUỐC </b> </p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/wGcYjiUBwXA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
-->

<div id="block-quatang"></div>

<div id="block-about"></div>
</br>
<div id="block-product"></div>
</br>
<div class="container">
	
</div>	
<div class="container">
	
			<p><h3><b>Có <font color="red">40</font> khách hàng đã đặt</b></h3></p>
			<p>Số lượng có hạn. </br>
			Danh sách đặt mua chưa bao gồm khách đặt tại cửa hàng</p></br>
            
			<table class="head">
				<tbody>
					<tr >
						<td>Tên khách hàng</td>
						<td>Số điện thoại</td>
						<td>Trạng thái</td>
						<td>Thời gian cọc</td>
					</tr>
				</tbody>
			</table>
			<div class="scroll-table">
				<table>
					<tbody>	</tbody>
					<tr>
						<td>Nguyễn Văn Sang</td>
						<td>******2820</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 giờ trước</td>
					</tr>
					<tr>
						<td>Anh Nguyễn Minh</td>
						<td>******1124</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 giờ trước</td>
					</tr>
					<tr>
						<td>Chị Mai Phương</td>
						<td>******9541</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>5 giờ trước</td>
					</tr>
					<tr>
						<td>Nguyễn Văn Giang</td>
						<td>******8845</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Đinh Văn Chiến</td>
						<td>******2452</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Nguyễn Thành An</td>
						<td>******1286</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Trần Văn Bình</td>
						<td>******8252</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Chị Kiều Linh</td>
						<td>******1593</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Nguyễn Văn Giang</td>
						<td>******2583</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Đinh Văn Chiến</td>
						<td>******2368</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
						<td>Nguyễn Thành An</td>
						<td>******0321</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>1 ngày trước</td>
					</tr>
					<tr>
						<td>Anh Dũng</td>
						<td>******1198</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Lê Thị Linh</td>
						<td>******2422</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Nguyễn Văn Giang</td>
						<td>******1387</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Đinh Văn Chiến</td>
						<td>******3983</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Chị Mỹ Vân</td>
						<td>******2359</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Anh Trần Bình</td>
						<td>******6105</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Lê Thị Linh</td>
						<td>******3363</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>2 ngày trước</td>
					</tr>
					<tr>
						<td>Nguyễn Văn Giang</td>
						<td>******5325</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>3 ngày trước</td>
					</tr>
					<tr>
						<td>Đinh Văn Chiến</td>
						<td>******9331</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>3 ngày trước</td>
					</tr>
					<tr>
						<td>Nguyễn Văn Mão</td>
						<td>******7871</td>
						<td><font color="#63bb02">Đã cọc</font></td>
						<td>3 ngày trước</td>
					</tr>

				</table>
			</div>
			
			
			</br></br>
			<p>
				<b> <h3> Thông tin đặt mua hàng </h3></b>
			</p>
			<p>	
				<h4><font color="red">Đặt trước Samsung Galaxy Z Fold 2 5G HÀN QUỐC </font></h4>
				- Thời gian áp dụng đặt trước: 15/09 - 24/09/2020 </br>
				- Thời gian nhận hàng dự kiến:  25/09 - 1/10/2020 </br>
				- Giá bán: <font color="red">39.000.000đ </font> </br>
				- Số tiền đặt cọc tối thiểu: 5.000.000đ </br>
				- Màu sắc: Đen Kim Cương - Đồng Ánh Kim </br>
				- Quà tặng dành cho 100 người đặt hàng đầu tiên:</br> 
				+ Trả góp lãi suất 0% (Qua công ty tài chính và thẻ tín dụng)</br>
				+ Phòng chờ hạng thương gia </br>
				+ Gói bảo hành mở rộng Samsung Care+</br>
				+ Đường dây hỗ trợ 24/7</br>
				+ Dịch vụ hỗ trợ kỹ thuật</br>
				+ Tặng thêm bộ quà Khủng Minmobile </br>
				- Phụ kiện theo hộp của Z Fold 2 5G Hàn Quốc: Sạc (sạc nhanh 25W), Cáp dữ liệu, Tai nghe có dây, Tài liệu hướng dẫn, Dụng cụ lấy SIM.</br></br>
				
				<h4><font color="red">Đặt trước Samsung Galaxy Z Flip 5G HÀN QUỐC </font></h4>
				- Thời gian áp dụng đặt trước: 15/09 - 19/09/2020 </br>
				- Thời gian nhận hàng dự kiến:  20/09 - 29/10/2020 </br>
				- Giá bán: <font color="red">26.900.000đ </font> </br>
				- Số tiền đặt cọc tối thiểu: 3.000.000đ </br>
				- Màu sắc: Xám Huyền Bí - Đồng Huyền Bí </br>
				- Quà tặng dành cho 100 người đặt hàng đầu tiên:</br> 
				+ Trả góp lãi suất 0% - 0 đồng</br>
				+ Gói bảo hành mở rộng Samsung Care+</br>
				+ Đường dây hỗ trợ 24/7</br>
				+ Dịch vụ hỗ trợ kỹ thuật</br>
				+ Tặng thêm bộ quà Khủng Minmobile </br></br>
				
				<b>Thông tin chi tiết liên hệ để được hỗ trợ:</br>
				Website: <a href= "https://minmobile.net.vn/dat-samsung-galaxy-z-fold-2-5g-va-z-flip-5g-han-quoc-ld5.html"> https://minmobile.net.vn </a> </br>
				Địa chỉ: 230 & 440 Lạch Tray - Hải Phòng</br>
				Hotline: <font color="red">0979.885.686</font></br></b>
			</p>
			
			
</div>
</br></br>

<div id="block-video"></div>

<div id="block-tintuc"></div>

<div class="fblike container" style="margin-top: 15px"></div>

<div class="fbcomment container"></div>

