/vendor/*
/vendor/
/vendor
vendor/*
vendor/
vendor
/common/config/main-local.php

/backend/runtime/
/frontend/runtime/
/backend/web/assets/
/backend/web/assets/
/backend/runtime/
/backend/runtime/
/frontend/assets/
/backend/assets/
/backend/assets/
/backend/runtime/
/frontend/runtime/
